.App {
  font-family: sans-serif;
  text-align: center;
}

.Table {
  text-align: center;
  border: solid grey;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  background-color: lightblue;
}

#employeeLi {
  list-style: none;
  border: solid grey;
  margin: 10px;
  padding: 10px;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.title {
  color: grey;
}
.search {
  font-size: larger;
}
img {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  float: left;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.part-two {
  /* border: solid black; */
  width: 80%;
}

.part-one {
  /* border: solid black; */
  width: 20%;
}
/*****************************************/
.Header {
  background-color: blanchedalmond;
}
.Nav > li {
  display: inline;
  margin: 5px;
  font-size: larger;
}
